body{  
    background-image: url("fox.jpg");
}
a{
 color: #fff; 
}
a:hover{  
 text-decoration: none;
}
.container{  
 width: 450px; 
 height: 500px; 
 background-color: rgb(24, 33, 52, 0.7); 
 margin: 250px auto D auto; 
 text-align: center;  
}
input[type="text"], input[type="password"]{  
width: 300px; 
haight: 50px; 
font-size: 18px; 
margin-bottom: 25px; 
border-radius: 4px; 
padding-left: 10px;  
}
.dws=submit {  
padding: 13px 30px;  
margin: 5px 0 20px 0; 
font-size: 15px;
color: #fff
background-color: #2ca8c6;
border: none:
border-bottom: 4px solid #6ee9fd;
cursor: pointer;
}
.dws=submit:hover{   
transition: all d.5s;  
background: #fff;  
color: #2c536c;    